* {
    /* border: 1px red solid; */
    box-sizing: border-box;
}

h1 {
    font-family: 'Oswald', sans-serif;
    margin-block-end: 0px;
    font-weight: bolder;
    letter-spacing: 1px;

}


h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: unset;
    color: rgb(97, 97, 97);
    font-size: 12px;
    margin: 0;
}

ul {
    list-style-image: url('assets/bullet.png');
}

li {
    line-height: 1.5;
    font-family: 'Patrick Hand', cursive;
    font-size: 24px;
    color: grey;



}


#title {
    font-family: 'Mrs Sheppards', cursive;
    font-weight: 100;
    color: rgb(46, 46, 46);
    font-size: 40px;
    margin: 0;
    line-height: 0;
    padding-top: 25px;
    margin-block-end: 0px;
}

#header {
    margin: 0 auto;
    padding: 0;
    height: 100px;
    max-width: 1200px;
}

#header-bottom {
    padding: 10px;
}


.grid-container {
    display: table;
    margin: 0 auto;
    margin-top: 30px;
    width: 100%;
    max-width: 960px;
}

.row:before, .row:after {
    clear: both;
    display: table;
    background-color: coral;
    min-height: 78px;
}

.row {
    display: table-row;
}

[class*='column-'] {
    float: left;
    min-height: 1px;
    /* background-color: hsla(195, 53%, 79%, 50%); */
    
}

.column-1 {
    width: 100%;
}

.column-2 {
    width: 50%;
}

.column-3 {
    width: 33.33%;
}

.column-66 {
    width: 66.66%;
}

.relative {
    position: relative;
}

#header-logo img {
    padding: 10px 10px 10px 0px;
    display: inline;
}

.sharing-widgets {
    position: absolute;
    top: 10px;
    right: 0px;
    
}

#header-upper {
    min-height: 78px;
}

#header-bottom {
    vertical-align: middle;
    padding: 0px 10px 0px 10px;
}

#stripe {
    background-image: linear-gradient(45deg, #ffffff 25%, #c2c2c2 25%, #c2c2c2 50%, #ffffff 50%, #ffffff 75%, #c2c2c2 75%, #c2c2c2 100%);
    background-size: 5.66px 5.66px;
    height:15px;
    float: none;

}
#content-title {
    margin-top: 50px;
}

.content-subhead {
    color: rgb(156, 156, 156);
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bolder;
    display: inline-block;
    margin-block-end: 0px;
    margin-block-start: 0px;
    position: relative;
}

#print-icon {
    display: inline-block;
}

#print {
    position: absolute;
    right: 0;
    bottom: 0;
}

#content-subhead-right {
    position: relative;
    height: 90px;
}

.cake-pic {
   
    margin-top: 30px;
    margin-bottom: 30px;
}

#choco-pizza {
    width: 960px;
}

.para {
    text-indent: 2em;
    font-family: Georgia, serif;
    letter-spacing: 1px;
    color: rgb(105, 105, 105);
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 1.5;
}

.notebook {
    height: 305px;
    background-image: url('assets/list-bg.png');
    display: block;
}

.list {
    margin: 0 auto;
    width: 90%;
    padding: 10px;
}